@import '../../styles/mixins/loginRegister';

.loginWrapper {
    margin-top: 40px;
}

.loginButton {
    width: 300px;
}

.info {
    margin-top: 20px;
}

.registerLink {
    text-decoration: none;
}
