.imageWrapper {
  margin: 16px;

  .imageLinksWrapper {
    display: flex;
    justify-content: space-between;

    .url {
      text-decoration: none;
    }
  }
}

@media (max-width: 480px) {
  .imageWrapper {
    .imageLinksWrapper {
      max-width: 150px;
    }
  }
}
