@import '../../styles/mixins/loginRegister';

.registerWrapper {
    margin-top: 40px;
}

.registerButton {
    width: 300px;
}

.info {
    margin-top: 20px;
}

.loginLink {
    text-decoration: none;
}
